{% extends 'base.html.twig' %}

{% block title %}Abyss Protocol - Characters{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/user.css') }}">
{% endblock %}


{% block body %}
    <div id="container">
        <h1 id="title">CHARACTERS</h1>
        <p id="intro">
            In <span id="abyss">Abyss Protocol</span>, players become part of an elite team navigating a dystopian future where technology and terror intertwine. Each character brings unique skills and backgrounds, from the tech-savvy Kade and the enigmatic Orion, to the agile Jax and the psychic Lyra. Together, they confront the dark and chaotic world controlled by the Corrupted Overlord, Zephyr, striving to uncover secrets and survive amidst the technological horrors that lurk in the shadows.
        </p>
        <p id="intro-2">
            Who will you become in this unforgiving world? The choice is yours.
        </p>
        <div id="cards">
            {% for user in users %}
                <div id="card">
                    <h5 id="card-title">
                        {{ user.name|capitalize }}
                    </h5>
                    <p id="type">
                        {{ user.type|title }}
                    </p>
                    <ul id="list">
                        <li>
                            <span class="cat">Starter level:</span>                     
                            <span class="level">
                                {% if user.xp < 150 %}
                                    Void Wanderer <span class="italic">({{ user.xp }}xp)</span>
                                {% elseif user.xp > 150 and user.xp < 400 %}
                                    Cyber Wraith <span class="italic">({{ user.xp }}xp)</span>
                                {% else %}
                                    Abyss Reaper <span class="italic">({{ user.xp }}xp)</span>
                                {% endif %}
                            </span>
                        </li>
                        <li>
                            <span class="cat">Gender:</span> {{ user.gender|title }}
                        </li>
                        <li><span class="cat">Category:</span> {{ user.category|title }}</li>
                        <li><span class="cat">Function:</span> {{ user.function|capitalize }}</li>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}